name: Testing
on: [ pull_request ]

jobs:
  build:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: 20
      - name: Build mod jars
        run: |
          chmod +x gradlew
          ./gradlew copyBuildRelease --stacktrace
      - name: Upload built jar file
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}
          path: artifacts/*.jar

#  notify:
#    name: Discord Notification
#    runs-on: ubuntu-latest
#    needs:
#      - build
#    if: ${{ always() }}  # sends notifications regardless of success/failure/cancellation
#    steps:
#      - name: Notify
#        uses: nobrayner/discord-webhook@v1
#        with:
#          github-token: ${{ secrets.github_token }}
#          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
#          content: The build and test for PR #${{ github.event.pull_request.number }} (${{ github.event.pull_request.title }}) have finished.
#          file: ${{ github.workspace }}/artifacts/*.jar