name: Testing

on: [push, pull_request]

jobs:
  buildJar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 20
        uses: actions/setup-java@v1
        with:
          java-version: 20
      - name: Build mod jars
        run: |
          chmod +x gradlew
          ./gradlew copyBuildRelease --stacktrace
      - name: Upload built jar file
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.event.repository.name }}
          path: artifacts/*.jar
      - name: Notify Discord
        uses: skuridin/discord-webhook@v1
        with:
          url: ${{ secrets.DISCORD_WEBHOOK }}
          username: "GitHub Actions"
          content: "${{ github.event.repository.name }} build is complete!
          - Build status: ${{ job.status }}
          - Commit: ${{ github.event.head_commit.message }}
          - Commit author: ${{ github.actor }}"